<h1>Agregar Persona</h1>
<%= render 'form' %>
<div class='row'>
    <div class='col-xs-4 col-md-4'></div>
    <div class='col-xs col-md-4'>
        <%= link_to ' Regresar', people_path, class:'btn btn-block btn-default ionicons ion-ios-undo' %>        
    </div>
</div>

