<div class='row'>
    <div class='col-xs col-md-8'>
        <h1>Agregar Persona</h1>
    </div>
    <div class='col-xs col-md-3'>
        <ul class="nav nav-pills">
            <br>
            <li class="active"><a>pasos de perfil completado <span class="badge">0</span></a></li>
        </ul>
    </div>
    <div id="spinnerContainer" class="spinner col-xs col-md-1"></div>
    <!--<div id='barprog' class="progress progress-striped ">-->
    <!--  <div id='bar' class="progress-bar" style="width: 33.33%"></div>-->
    <!--</div>-->
</div>
<%= render 'form' %>
<div class='row'>
    <div class='col-xs-4 col-md-4'></div>
    <div class='col-xs col-md-4'>
        <%= link_to ' Regresar', people_path, class:'btn btn-block btn-default ionicons ion-ios-undo' %>
    </div>
</div>