<div class='row'>
    <div class='col-xs-12 col-md-12'>
        <h1>Editar Password</h1>
    </div>
</div>
<div class='row'>
    <%= render 'change_pass' %>
</div>
<div class='row'>
    <div class='col-xs-4 col-md-4'></div>
    <div class='col-xs-2 col-md-2'>
        <%= link_to 'Mostrar', @user, class:'btn btn-md btn-block' %>
    </div>
    <div class='col-xs-2 col-md-2'>
        <%= link_to 'Regresar', users_path, class:'btn btn-md btn-block' %>
    </div>
</div>