<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">AGREGAR OTRO GASTO</h4>
        </div>
        <div class="modal-body">
          <%#= bootstrap_form_for(@brandmodel, layout: :horizontal, :html => {id:'commitAddBrandModel4pc'}) do |f| %>
            <%#= f.text_field_with_bootstrap :brandx, label:'Marca' %>
            <%#= f.text_field_with_bootstrap :modelx, label:'Modelo' %>
            <%#= f.submit %>
          <%# end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>