<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">AGREGAR PRESTACION</h4>
        </div>
        <div class="modal-body">
          <%= bootstrap_form_for(@benefit, layout: :horizontal, remote:true, :html => {id:'addBenefitCommit'}) do |f| %>
            <%= f.select_with_bootstrap :name, [['IMSS'],['ISSSTE'],['PARTICULAR'], ['DIF'], ['OTRO']], label:'PRESTACION' %>
            <%= f.number_field_with_bootstrap :amount, :prepend=>'$', :append=>'.00', label:'CANTIDAD' %>
            <div class="form-group has-success">
              <br>
              <div class='col-xs col-md-2'>
                <label class="form-control-label" for="inputSuccess1" id="label-new-benefit">NUEVA PRESTACION</label>
              </div>
              <div class='col-xs col-md-8'>
                <input class="form-control is-valid" id="new-benefit-name" type="text">
              </div>
              <div class='col-xs col-md-2'>
                <a id="save-benefit-name" class="btn btn-block btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span></a>
              </div>
              <br>
            </div>
            <%= f.submit 'Guardar', class:'btn btn-md btn-primary addBenefit' %>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>