<h1>Administracion de datos Desvinculados</h1>
<div class='row'>
    <div class='col-xs col-md-3'>
        <h4>Otros Servicios sin ligas</h4>
        <table class="table table-striped table-hover ">
            <thead>
                <tr class='info'>
                    <th>Nombre de servicio</th>
                </tr>
            </thead>
            <tbody>
                <% @phantomOServices.each do |os| %>
                    <tr class='danger'>
                        <td><%= os.name %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <div class='col-xs col-md-3'>
        <h4>Beneficios sin ligas</h4>
        <table class="table table-striped table-hover ">
            <thead>
                <tr class='info'>
                    <th>Nombre de servicio</th>
                </tr>
            </thead>
            <tbody>
                <% @phantomBenefits.each do |b| %>
                    <tr class='danger'>
                        <td><%= b.name %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <div class='col-xs col-md-3'>
        <h4>Otros Gastos sin ligas</h4>
        <table class="table table-striped table-hover ">
            <thead>
                <tr class='info'>
                    <th>Nombre de servicio</th>
                </tr>
            </thead>
            <tbody>
                <% @phantomOExpeditures.each do |oe| %>
                    <tr class='danger'>
                        <td><%= oe.name %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
