/*
 *= require jquery-ui/datepicker
 *= require rails_bootstrap_forms
 *= require_self
 *= require_tree .
 */
// Example using 'Cerulean' bootswatch
@import "bootstrap-sprockets";
// Import cerulean variables
@import "bootswatch/cerulean/variables"; //<-------------------
// Then bootstrap itself
@import "bootstrap";
// Bootstrap body padding for fixed navbar
body { padding-top: 60px; }
// And finally bootswatch style itself
@import "bootswatch/cerulean/bootswatch"; 
//TESTING bootswatch-sass
//@import 'bootstrap-cerulean'; --NO :(
@import 'ionicons';
.be-round_ligth_gray{ background-color: #efefef; color: black; }
.full_borders{
  border-top-style:solid;
  border-bottom-style:solid;
  border-right-style:solid;
  border-left-style:solid;
  border-left-width:thin;
  border-right-width:thin;
  border-top-width:thin;
  border-bottom-width:thin;
}
.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}
.ups{
  text-transform: uppercase;
}
.glyphicon {  margin-bottom: 10px;margin-right: 10px;}
small {
display: block;
line-height: 1.428571429;
color: #999;
}
@import "font-awesome-sprockets";
@import "font-awesome";
.showme {
  display:block;
}

