$('#modal-window3').modal('hide');
$('#servicesTblBody').append('<tr id="<%= @otherService.id %>">'+"<td><%= @otherService.name %></td>" +
"<td align='center'><%= escape_javascript render(:partial => 'link2DeleteOService') %></td></tr>");